# Your application's client ID
CLIENT_ID='your_client_id'

# Your application's secret key
CLIENT_SECRET='your_client_secret'

# Your OpenAI API key
OPENAI_API_KEY='your_openai_api_key'

# URL where your data client runs. Do not include trailing slashes.
NEXT_PUBLIC_BACKEND_URL='https://your_data_client_url'
